* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 1000px;
  display: flex;
}

#keys-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#keys-list {
  list-style-type: none;
  /* padding: 0;
  margin: 0; */
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

#keys-list li {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  transition: all 0.07s;
  width: 80px;
  height: 80px;
  border: 1px black solid;
  background-color: rgba(0, 0, 0, 0.1);
}

#keys-list li span {
  text-align: center;
}

#keys-list .interaction {
  transform: scale(1.1);
  border: 1px pink solid;
  box-shadow: 0 0 10px pink;
}
